* {
    margin: 0;
    padding: 0;
}

.header {
    height: 64px;
    box-shadow: 0px 1px 1px 0px #ccc;
    padding: 20px
}
.select-wrap{
    display: inline-block;
    float: right;
    margin-right: 80px;
    position: relative;
    top: -3px;
}

.ant-select {
    margin-right: 20px !important;
    
}


.Login {
    display: inline-block;
    float: right;

}
.Login span{
    margin-left: 10px;
    position: relative;
    top: 2px;
}